@import "tailwindcss";

h1{
	font-size:1.7rem;
}


	body{
		background: linear-gradient(to right, rgb(23,80,23) 1%,black 10%) repeat; 
		/*background-color: darkslategrey;*/
		height:100vh;
		color: white;
		font-family: var(--font-Amaranth);
	}

	button {
		padding: 1rem;
		box-shadow:#069619 3px 5px 10px; 
		border: 2px solid rgb(23,80,23);
		border-radius: 10px;
	  }
	  
	  button:hover{
		background: #ffe100
	  }

	  .container {
		columns:2;
		column-gap: 50px;
	  }

	  test{
		background:red;
	  }