---
import Layout from '../layouts/Layout.astro';
import {getCollection,getEntry} from "astro:content";
import {Debug} from "astro:components";
const posts = await getCollection('data');

---

<Layout>
	<div class="grid container grid-cols-4 p-6">
		{
			posts.map((p) => (
			<div>{p.data.title}
			{p.data.description}</div>
			) 
		)
		}
	 
	
	</div>
</Layout>
