---
import Layout from '../layouts/Layout.astro';
import {getCollection} from "astro:content";
const posts = await getCollection('data');

---

<Layout title="Data from json file">
	<h1 class="text-5xl text-center p-6">Data from a json file<br/>Cards from daisyui</h1>
	<div class="text-3xl text-center text-sky-700"><a href="/test.html">Lnk to next page</a></div>
	 <div class="grid grid-cols-3 p-6">
			{
				posts.map((p) => (
				<Fragment>
					<div class="card-lg">
					<div class="card-body">
						<h1 class="card-title">{p.data.title}</h1>
		  				<figure class="w-80"><img src=`${p.data.img}`></figure>
		  				<p>{p.data.description}</p>
					</div>
	 				</div>
	  			</Fragment>
				) 
			)
			}
	</div>
</Layout>
