---
import Layout from "../layouts/Layout.astro";
---
<Layout>

       <div class="card-lg bg-cyan-700 w-96 m-7">
           <div class="card-title">Hello World testing Cards from Daisyui</div>
           <div class="card-body">This is a test of the emergency broadcast system!</div>
       </div>

</Layout>
